<!DOCTYPE html>
<html>
<head>
</head>
<body>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<video id="localVideo" autoplay muted style="width:40%;"></video>
<video id="remoteVideo" autoplay style="width:40%;"></video>



<script>
    function send_massage(massage, id, type) {
        var xhr = new XMLHttpRequest();
        var inp = "/channel/send/"+id+"/"+type;
        xhr.open('POST', inp, true);
    // xhr.onload = function () {
    //     if (xhr.readyState === xhr.DONE) {
    //         if (xhr.status === 200) {
    //             console.log(xhr.response);
    //             console.log(xhr.responseText);
    //         }
    //     }
    // };
       xhr.send(massage);
    }

    function websocket(){
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/webSigChannel');
        console.log(document.domain);
        socket.on('connect', function() {
            socket.emit("new message ");
            console.log("in sock on");
        });
        socket.on('message', function(msg){
            console.log(msg)
        });


    }
</script>

<script>
    var localVideo = document.getElementById('localVideo');
    var remoteVideo = document.getElementById('remoteVideo');

    var peerConnectionConfig = {
        'iceServers': [
            {'urls': 'stun:stun.services.mozilla.com'},
            {'urls': 'stun:stun.l.google.com:19302'},
            {
                'urls': 'turn:turn.salar.click:3478?transport=udp',
                'credential': 'PASSWORD',
                'username': 'salar'
            },
        ]
    };

    var peerConnection = new RTCPeerConnection(peerConnectionConfig);
    peerConnection.onaddstream = gotRemoteStream;
    peerConnection.onicecandidate = gotIceCandidate;    

    var constraints = {
        video: true
    };

    if(navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia(constraints).then(getUserMediaSuccess).catch(errorHandler);
    } else {
        alert('Your browser does not support getUserMedia API');
    }


    function getUserMediaSuccess(stream) {
        console.log("getUserMediaSuccess");
        localStream = stream;
        localVideo.src = window.URL.createObjectURL(stream);
        peerConnection.addStream(localStream);

    }

function gotIceCandidate(event) {
    if(event.candidate != null) {
        console.log("inwait got ice cond");
        send_massage(JSON.stringify({'ice': event.candidate}) , "{{name}}", 'ice2');
        
    }
}

    function errorHandler(error) {
        console.log(error);
    }

    var source = new EventSource("/stream?channel="+"{{name}}");
    source.addEventListener('request', gotRequest);

    function gotRequest(event) {
        console.log("gotRequest");
        var data = JSON.parse(event.data);
        data =  JSON.parse(data.message);
        peerConnection.setRemoteDescription(new RTCSessionDescription(data.sdp)).then(function() {
            peerConnection.createAnswer().then(createdDescription).catch(errorHandler);
        }).catch(errorHandler);

    }

    source.addEventListener('ice1', gotIce);
    function gotIce(event) {
        console.log("gotIce");
        var data = JSON.parse(event.data);
        data =  JSON.parse(data.message);
        peerConnection.addIceCandidate(new RTCIceCandidate(data.ice)).catch(errorHandler);
    }


   function createdDescription(description) {
        console.log("createdDescription wait")
        peerConnection.setLocalDescription(description).then(function() {
            send_massage(JSON.stringify({'sdp': peerConnection.localDescription}) , "{{name}}", 'response');
            
        }).catch(errorHandler);
    }

    function gotRemoteStream(event) {
        console.log('gotRemoteStream');
        remoteVideo.src = window.URL.createObjectURL(event.stream);
    }

</script>

</body>
</html>
